.header-app {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.header-app--logo {
  width: 30px;
  margin-right: 10px;
  height: 34px;
}
